# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage & test artifacts
coverage/
playwright-report/
test-results/

# editor / os
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# tmp
*.tmp
